extends ../docs

block primary
  article.col-md-7
    header
      h1 unizendLocalbtc.ads
    h2 A lot of content


  .col-md-2
    ul.list-unstyled
      li
        a.btn-btn-link(href="#") get()
      li
        a.btn-btn-link(href="#") update()
      li
        a.btn-btn-link(href="#") create()
      li
        a.btn-btn-link(href="#") updateEquation()
      li
        a.btn-btn-link(href="#") remove()

