extends ../docs

block primary
  article.col-md-7
    header
      h1 unizendLocalbtc.localbitcoins
    h2 A lot of content


  .col-md-2
    ul.list-unstyled
      li
        a.btn-btn-link(href="#") getPaymentMethodsList()
      li
        a.btn-btn-link(href="#") getPaymentMethod()
      li
        a.btn-btn-link(href="#") getCountryCodes()
      li
        a.btn-btn-link(href="#") getCurrencies()
      li
        a.btn-btn-link(href="#") getPlaces()
      li
        a.btn-btn-link(href="#") getBTCPriceFromEquation()
      li
        a.btn-btn-link(href="#") getFees()

