extends ../docs

block primary
  article.col-md-7
    header
      h1 unizendLocalbtc.account
    h2 A lot of content


  .col-md-2
    ul.list-unstyled
      li
        a.btn-btn-link(href="#") getUserInfo()
      li
        a.btn-btn-link(href="#") myself()
      li
        a.btn-btn-link(href="#") dashbord
        ul.list-unstyled.ml-3
          li
            a.btn-btn-link(href="#") info()
          li
            a.btn-btn-link(href="#") released()
          li
            a.btn-btn-link(href="#") canceled()
          li
            a.btn-btn-link(href="#") closed()
      li
        a.btn-btn-link(href="#") notifications
        ul.list-unstyled.ml-3
          li
            a.btn-btn-link(href="#") getList()
          li
            a.btn-btn-link(href="#") markAsRead()
      li
        a.btn-btn-link(href="#") getRecentMsgs()
      li
        a.btn-btn-link(href="#") getRealNameVerifiers()
      li
        a.btn-btn-link(href="#") pincode()
      li
        a.btn-btn-link(href="#") logout()

