extends ../docs

block primary
  article.col-md-7
    header
      h1 unizendLocalbtc.wallet
    h2 A lot of content


  .col-md-2
    ul.list-unstyled
      li
        a.btn-btn-link(href="#") getInfo()
      li
        a.btn-btn-link(href="#") getBalance()
      li
        a.btn-btn-link(href="#") send()
      li
        a.btn-btn-link(href="#") sendPin()
      li
        a.btn-btn-link(href="#") getAddr()

