extends ../docs

block primary
  article.col-md-7
    header
      h1 unizendLocalbtc.publicMarketData
    h2 A lot of content


  .col-md-2
    ul.list-unstyled
      li
        a.btn-btn-link(href="#") adsList()
      li
        a.btn-btn-link(href="#") bitcoinAverage()
      li
        a.btn-btn-link(href="#") bitcoinCharts
        ul.list-unstyled.ml-3
          li
            a.btn-btn-link(href="#") trades()
          li
            a.btn-btn-link(href="#") orderBooks()