extends ../docs

block primary
  article.col-md-7
    header
      h1 Introduction
      p First of all, Thank you so much for using this library! We really apreciate it. We will keep on working to bring you more awesome features and all the documentation you need.
      p This documentation is written to help you using this tool in your project. Please go through the docs carefully to understand how this library works so you can use it with no problems.
    h2#requirements Requirements
    p If you have made it through here, we supose you have javascript and node.js knowledge. It is a requirement to use this library. Besides that, you will need the following:
    h3#es6 ECMAScript 6 (ES6 or ES2015)
    p.lead It is a Javascript standar since 2015.
    p This library has been written using this standard so for best practices and a better understanding of the source code, we recomend using ES6
    h3#nodejs Node.js #[code node v12.14.1]
    p.lead Asynchronous event-driven JavaScript runtime designed to build scalable network applications.
    p You need to #[a(href="https://nodejs.org") install Node.js] to use this this Package.
    h3#npm Npm #[code npm v6.13.6]
    p.lead Node Package Manager 
    p This Node package manager comes with node.
    h3#lbtc Localbitcoins Account
    p.lead Buy and sell bitcoins near you
    p Locatbitcoins is a platform where you can exchange the cryptocurrency locally. #[a(href="https://localbitcoins.com/register/") Create your account] now.
    h2#lbtcBasics Localbitcoins Basics
    p.lead All you need to know to get started with Localbitcoins
    h3#lbtcSignup Signup
    p.lead Create your Localbitcoins Account
    h3#lbtc2FactorAuth 2 Factor authentication
    p.lead Required to use the Localbitcoins API
    h2#ourCommunity Our Community
    p.lead Stay up to date on the development of unizend-localbtc and reach out to the community with these helpful resources.


  include getting-started-nav.pug

