extends ../docs

block primary
  article.col-md-7
    header
      h1 Introduction
    h2 Requirements
    h3 Javascript
    h3 Node.js
    h3 Npm
    h3 Localbitcoins Account
    h2 Localbitcoins Basics
    h3 Signup
    h3 2 Factor authentication
    h2 Our Community


  include getting-started-nav.pug

