.col-md-2
  ul.list-unstyled
    li
      a.btn-btn-link(href="#requirements") Requirements
      ul.list-unstyled.ml-3
        li
          a.btn-btn-link(href="#es6") ECMAScript 6
        li
          a.btn-btn-link(href="#nodejs") Node.js
        li
          a.btn-btn-link(href="#npm") Npm
        li
          a.btn-btn-link(href="#lbtc") Localbitcoins Account
    li
      a.btn-btn-link(href="#lbtcBasics") Localbitcoins basics
      ul.list-unstyled.ml-3
        li
          a.btn-btn-link(href="#lbtcSignup") Signup in Localbitcoins
        li
          a.btn-btn-link(href="#lbtc2FactorAuth") Localbitcoins 2 Factor authentication
    li
      a.btn-btn-link(href="#ourCommunity") Our Community
