extends ../docs

block primary
  article.col-md-7
    header
      h1 unizendLocalbtc.trades
    h2 A lot of content


  .col-md-2
    ul.list-unstyled
      li
        a.btn-btn-link(href="#") giveFeedbackTo()
      li
        a.btn-btn-link(href="#") info()
      li
        a.btn-btn-link(href="#") create()
      li
        a.btn-btn-link(href="#") verify()
      li
        a.btn-btn-link(href="#") getMsgs()
      li
        a.btn-btn-link(href="#") postMsg()
      li
        a.btn-btn-link(href="#") paid()
      li
        a.btn-btn-link(href="#") releaseBTC()
      li
        a.btn-btn-link(href="#") cancel()
      li
        a.btn-btn-link(href="#") dispute()

